*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.todoBoard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.form_add__container {
  display: flex;
  justify-content: center;
}

.form_add {
  display: flex;
  flex-direction: row;
  width: 570px;
  height: 10rem;
}

.form_add__input {
  display: flex;
  flex-direction: column;
}

.todos{
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 1.2rem 0 2rem;
}

.todo {
  display: flex;
  flex-direction: row;
  margin: auto;
}

@media screen and(min-width: 690px){
  .todos{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 85%;
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
    padding: 1.2rem 0 2rem;
  }
}
